
body {
    font-family: Roboto; sans-serif;
}

.navbar{
    background-color: #ffc400;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color:#ffc400;
}

#cabecalho .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}


.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Caprasimo, cursive;
}


#sobre-nos, #cardapio {
    background-color:  #ffeae6;
}

.text-colored {
    color:#ffc400;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #ffc400;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #ffc400;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}